.containerContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../../assets/portadaContacto.jpg");
    background-color: rgb(30, 30, 30);
    background-blend-mode: soft-light;
    height: 200vh;
    background-size: cover;
    background-position: center;
}

.titleContact {
    display: flex;
    align-items: center;
    height: 20%;
    font-size: 2.6rem;
    font-weight: bold;
    color: #fff;
}

.formLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70%;
    width: 100%;
}


.linksContact {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    height: 95%;
    width: 24%;
    margin-left: 6%;
    margin-top: 5%;
}

.contactDetails,
.socialContact {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;
}

.contactDetails h1,
.socialContact h1,
.containerForm form h1 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: #fff;
}

.containerForm form h1 {
    margin-bottom: 16px;
}

.phone1,
.emailContact {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 16px;
}

.phone1 img,
.emailContact img {
    margin-right: 6px;
    filter: invert(100%);
    width: 1.6rem;
    fill: goldenrod;
}

.phone1 h2,
.emailContact h2{
    color: #fff;
    font-size: 1.5rem;
}

.sociaIcons {
    display: flex;
    flex-direction: row;
}

.svgInsta {
    width: 3rem;
    height: 3rem;
    margin-right: 8px;
    fill: goldenrod;
    transition: 0.2s ease-in;
}

.svgInsta:hover {
    fill: #e1306c;
}

.svgFacebook{
    width: 3rem;
    height: 3rem;
    margin-right: 8px;
    fill: goldenrod;
    transition: 0.2s ease-in;
}
.svgFacebook:hover{
    fill: #e1306c;
}