colorBrackets {
    color: orange;
}

.textNav {  
    color: white;
    
}
.textNavLink{
    text-decoration: none;
}

.textNav:hover {
    color: orange;
}

.logo {
    color: white;
    text-decoration: none;
}
