/* Styles for mobile devices */
@media screen and (max-width: 600px) {

    /* Hide the desktop menu */
    .desktop-menu {
        display: none;
    }

    /* Show the mobile menu button */
    .mobile-menu-button {
        display: block;
    }

    /* Adjust the position of the mobile menu */
    .mobile-menu {
        display: block !important;
        /* Ensure the mobile menu is visible */
        position: absolute;
        top: 56px;
        /* Adjust the top position to match the app bar height */
        right: 0;
    }
}

/* Styles for tablet devices */
@media screen and (min-width: 601px) and (max-width: 960px) {

    /* Hide the desktop menu */
    .desktop-menu {
        display: none;
    }

    /* Show the mobile menu button */
    .mobile-menu-button {
        display: block;
    }

    /* Adjust the position of the mobile menu */
    .mobile-menu {
        display: block !important;
        /* Ensure the mobile menu is visible */
        position: absolute;
        top: 64px;
        /* Adjust the top position to match the app bar height */
        right: 0;
    }
}

/* Styles for desktop devices */
@media screen and (min-width: 961px) {

    /* Hide the mobile menu button */
    .mobile-menu-button {
        display: none;
    }

    /* Show the desktop menu */
    .desktop-menu {
        display: block;
    }
}