.bgDojos {
    background-image: url("../../assets/eventosPortada.jpg");
    background-color: rgb(30, 30, 30);
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    justify-items: center;
}

h1 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
}

.carouselContainer {
    width: 100%;
    max-width: 800px
}

.description {
    width: 100%;
    font-size: 18px;
    text-align: justify;
    text-align: center;
    margin-bottom: 20px;
    /* Ajusta según sea necesario */
}

/* Ajustes para dispositivos móviles */
@media (max-width: 600px) {
    .content {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}